<!-- MAIN CONTENT -->
<div class="container">

<!-- add a tutor  -->
<div class="col-md-12">
 <button type="button" class="btn btn-lrg btn-primary addTutor">
   Add a tutor
 </button>
</div>

<!-- SEARCH BUTTONS  -->
 <!-- search by subject -->
  <span class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Search by Subject
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="#"> 1</a></li>
      <li><a href="#"> 2 </a></li>
      <li><a href="#"> 3 </a></li>
    </ul>
  </span> <!-- closes first dropdown span -->
 <!-- search by  -->
  <span class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Search by Name
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <li><a href="#"> 1</a></li>
      <li><a href="#"> 2 </a></li>
      <li><a href="#"> 3 </a></li>
      <li><a href="#"> 4 </a></li>
    </ul>
  </span> <!-- closes first dropdown div -->

<!-- search results  -->
  <div class="container searchResults col-md-10">
      <h1> List search results here </h1>
  </div>



</div> <!-- close container div  -->
