<!-- MAIN CONTENT -->
<div class="container">
 <button type="button" class="btn btn-lrg btn-primary updateAvailability">
   Update your availability
 </button>

<!-- upcoming sessions div -->
  <div class="container upcomingSession">
    <h1> List upcoming sessions here </h1>
  </div>

</div> <!-- closing container div  -->