<script type="text/javascript">var allTutors = {{{availTutorArray}}}</script>
<script type="text/javascript">var allSubjects = {{{availSubjArray}}}</script>
<!-- MAIN CONTENT -->
<div class="container">



<h2>Welcome Admin</h2>
<h4>Update and delete tutors below:</h4>

  <div class="container-fluid searchResults">
      <div class="row tutorRow">
      

       {{#each availTutor}}
        <div class="container tutorThumbnailContainer col-xs-6 col-md-3 col-lg-3">
          <div class="thumbnail tutorThumbnail">
            <img src ="assets/img/tutor{{id}}.jpg"> 
            {{!-- <img src="http://placehold.it/500x500/EEE"> --}}
            <div class="tutorCaption CRUDCaption">
             
                
                <h4 class = "capitalize tutorName">{{firstName}}</h4>

  <div class="row CRUDButtons">
      <div class="checkbox col-lg-12">
        <label>
          <input type="checkbox" data-value="deleteTutor"> Delete
        </label>
        <label class="CRUDCheck">
          <input type="checkbox" data-value="unavailabileTutor"> Unavailable
        </label>
      </div>
   
   </div><!-- CRUD buttons-->
  <button type="submit" class="btn btn-danger CRUDSubmit">Update</button> 
                
            </div> {{!-- end caption --}}

          </div>{{!--  endTutorThumbnail --}}

        </div> {{!-- end tutorThumbnailContainer --}}
      {{/each}}
  
      
      </div> <!-- close .tutorRow div  -->


      

  </div> {{!-- end searchResults --}}
  

<script src="assets/js/student.js"></script> 


</div> <!-- close container div  -->