<!-- MAIN CONTENT -->
<div class="container">

	<div class = "jumbotron createJumbotron">
		
		<div class = "text-center"><span><img src='./assets/img/success.jpg'</span><h2>Congratulations, you are now a tutor!</h2>

		</div>

	</div>

</div>