<div class="container-fluid">

<div class="jumbotron text-center">
  <h1>Get a tutor!</h1>
 <!--  <p>**INSERT PHOTO/SLIDESHOW**</p> -->
  <p><a href="/student" class="btn btn-primary btn-lg getStartBtn" href="#" role="button">Search tutors</a></p>

</div> <!-- end jumbotron div -->

<!-- BEGIN NEW MAIN PAGE CONTENT -->
<h2> <center> How tutorKarma works </h2> </center>

<div class="col-md-4">
<div class="panel panel-default">
  <div class="panel-heading"> 
    <h4>  <center> Request Your Tutor </center> </h4> 
  </div>
  <div class="panel-body">
   <center> <img src="./assets/img/comp.png" height="100" width="100"> 
   <p> Log in and request a tutor. You can search by subject or, if you're looking for someone special, you can search by name. </center> </p>
  </div>
</div>
</div>

<div class="col-md-4">
<div class="panel panel-default">
  <div class="panel-heading"> 
    <h4>  <center> Meet & Learn </center> </h4> </div>
  <div class="panel-body">
     <center> <img src="./assets/img/meet.png" height="100" width="100"> 
     <p> Once your tutor approves the session, set a location. Work to gether to cover the topics you need the most help in.</center> </p>
  </div>
</div>
</div>

<div class="col-md-4">
<div class="panel panel-default">
  <div class="panel-heading"> 
    <h4>  <center> Get #goodKarma </center> </h4> </div>
  <div class="panel-body">
     <center> <img src="./assets/img/karma.png" height="100" width="100"> 
     <p> Time to write a review! Let others know about your experience. Once you've mastered the content, get good karma by helping others.</center> </p>
  </div>
</div>
</div>

  </div> 