<div class="container-fluid">

<div class="jumbotron">
  <h1>Get a tutor!</h1>
  <p>**INSERT PHOTO/SLIDESHOW**</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Click to get started</a></p>

</div> <!-- end jumbotron div -->

  </div> <!-- end MAIN CONTENT .container-fluid-->