<!-- MAIN CONTENT -->
<div class="container">

<!-- search buttons  -->
 <!-- search by subject -->
  <span class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Search by Subject
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelled by="dropdownMenu1">
    {{#each availSubject}}
      <li><a href="#"> {{subjectName}}</a></li>
    {{/each}}
    </ul>

  </span> <!-- closes first dropdown span -->
 <!-- search by  -->
  <span class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Search by Tutor
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelled by="dropdownMenu1">
      {{#each availTutor}}
        <li><a href="#"> {{firstName}}</a></li>
      {{/each}}
    </ul>
  </span> <!-- closes first dropdown div -->

<!-- search results  -->
  <div class="container-fluid searchResults">
      <div class="row">

       {{#each availTutor}}
        <div class="col-xs-6 col-md-3 col-lg-2">
          <div class="thumbnail">
            <img src="http://placehold.it/500x500/EEE">
            <div class="caption">
             
                <h4 class = "capitalize">{{firstName}}</h4>
                <p>{{about}}</p> 
              
              <a href="#" class="btn btn-default btn-xs" role="button">Book This Tutor</a> 

              <a href="#" class="btn btn-default btn-xs favoriteTutor" role="button"><i class="glyphicon glyphicon-heart"></i></a>
            
          </div>

        </div>

      </div>
      {{/each}}
  </div> <!-- close .searchResults div  -->



</div> <!-- close container div  -->