<!-- MAIN CONTENT -->
<div class="container">

<!--
    <form action="/{{this.id}}?_method=PUT" method="POST">
      <label class="checkbox-inline"><input type="checkbox" name="subjectId" value="1">Math</label>
      <label class="checkbox-inline"><input type="checkbox" name="subjectId" value="2">Chemistry</label>
      <label class="checkbox-inline"><input type="checkbox" name="subjectId" value="3">Biology</label>
      <label class="checkbox-inline"><input type="checkbox" name="subjectId" value="4">English</label>
      <label class="checkbox-inline"><input type="checkbox" name="subjectId" value="5">Spanish</label>
      <label class="checkbox-inline"><input type="checkbox" name="subjectId" value="6">Economics</label>
      <label class="checkbox-inline"><input type="checkbox" name="subjectId" value="7">Philosophy</label>
      <label class="checkbox-inline"><input type="checkbox" name="subjectId" value="8">French</label>
      

      <button class="btn btn-primary" type="submit">Submit</button> 

    </form> -->
    <ul>
      
        {{#each subjects}}
          
            <li>
              <form action="/{{this.SubjectId}}?_method=PUT" method="POST">
              <input type="hidden" name="subject" value="1">
              <button class="btn btn-primary" type="submit">{{this.subjectName}}</button>
              </form>
            </li>
          
        {{/each}}
     
    </ul>
    

   
       
</div> <!-- closing container div  -->

