<!-- MAIN CONTENT -->
<div class="container">

<div class="form">
    <h2> Want to become a tutor? Enter your information! </h2>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">First Name</span>
      <input type="text" class="form-control" placeholder="First name" aria-describedby="basic-addon1">
  </div> <!-- close first name input -->
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Last Name</span>
    <input type="text" class="form-control" placeholder="Last name" aria-describedby="basic-addon1">
  </div> <!-- close last name input -->
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Email</span>
    <input type="text" class="form-control" placeholder="example@email.com" aria-describedby="basic-addon1">
  </div> <!-- close email -->
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Profile Picture</span>
    <input type="text" class="form-control" placeholder="Profile Picture" aria-describedby="basic-addon1">
  </div> <!-- close profile picture  -->
    <h3> Please select up to 3 subjects you will teach </h3>

<div class="row subjectButtons">
    <span class="button col-md-2">
      <input type="radio" aria-label="..." data-value="Math"> Math 
    </span>
    <span class="button col-md-2">
      <input type="radio" aria-label="..." data-value="Chemistry"> Chemistry 
    </span>
    <span class="button col-md-2">
      <input type="radio" aria-label="..." data-value="Biology"> Biology 
    </span>
    <span class="button col-md-2">
      <input type="radio" aria-label="..." data-value="English"> English 
    </span>
    <span class="button col-md-2">
      <input type="radio" aria-label="..." data-value="Spanish"> Spanish 
    </span>
    <span class="button col-md-2">
      <input type="radio" aria-label="..." data-value="Economics"> Economics 
    </span>
</div><!-- subject buttons-->

</div> <!-- close form div -->




</div> <!-- closing container div  -->