<!-- MAIN CONTENT -->
<div class="container">

<h2> Want to become a tutor? Enter your information! </h2>

<div class="form">
  <form class="create-update-form" action="/tutor" method="POST" id="user-form"> 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1 firstname">First Name</span>
      <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First name" aria-describedby="basic-addon1">
  </div>  
  <br>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1 lastname">Last Name</span>
    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last name" aria-describedby="basic-addon1">
  </div> 
  <br>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1 email">Email</span>
    <input type="text" class="form-control" id="email" name="email" placeholder="example@email.com" aria-describedby="basic-addon1">
  </div> 
<br>
<br>

  <div class="form-group">
    <label for="inputlg">Please provide 1-3 sentences about yourself.</label>
    <textarea class="form-control" rows="5" id="about" name="about"></textarea>
  </div>  
    
    <h3> Please select a subject you will teach </h3>

<div class="row form-group">
  <div class="col-lg-6">
    <label for="tutorValue">Subject List:</label>
    <select class="form-control" id="SubjectId" name="SubjectId">
      <option class = "hi" name="SubjectId" value = 0></option>
      {{#each availSubject}}
        <option class = "hi" name="SubjectId" value = "{{id}}">{{subjectName}}</option>
      {{/each}}
    </select>
  </div>
</div>

<br> 

<button type="submit" class="btn btn-default btn-info submittutor">Submit</button>


  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Registration complete</h4>
      </div>
      <div class="modal-body">
        <p> <center> Thank you for signing up to be a tutor. You've got some #goodKarma headed your way!</p> </center>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default closeMdlBtn" data-dismiss="modal">Close</button>
      </div>
    </div> <!-- close modal content  -->

</form>


</div> <!-- close form div -->



</div> <!-- closing container div  -->


<!-- <script src="assets/js/tutor.js"></script> -->

