<!-- MAIN CONTENT -->
<div class="container">

<div class="form">
  <h1> Enter your information to sign-up and become a tutor </h1>
<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">First Name</span>
  <input type="text" class="form-control" placeholder="First name" aria-describedby="basic-addon1">
</div>
<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Last Name</span>
  <input type="text" class="form-control" placeholder="Last name" aria-describedby="basic-addon1">
</div>
<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Email</span>
  <input type="text" class="form-control" placeholder="example@email.com" aria-describedby="basic-addon1">
</div>
<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Profile Picture</span>
  <input type="text" class="form-control" placeholder="Profile Picture" aria-describedby="basic-addon1">
</div>
<h2> Please select up to 3 subjects you will teach </h2>
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Subject 1 <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#" data-value="Bioligy">Biology</a></li>
    <li><a href="#" data-value="Chemistry">Chemistry</a></li>
    <li><a href="#" data-value="Math ">Math</a></li>
    <li><a href="#" data-value="English">English</a></li>
  </ul>
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Subject 1 <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#" data-value="Bioligy">Biology</a></li>
    <li><a href="#" data-value="Chemistry">Chemistry</a></li>
    <li><a href="#" data-value="Math ">Math</a></li>
    <li><a href="#" data-value="English">English</a></li>
  </ul>
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Subject 1 <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#" data-value="Bioligy">Biology</a></li>
    <li><a href="#" data-value="Chemistry">Chemistry</a></li>
    <li><a href="#" data-value="Math ">Math</a></li>
    <li><a href="#" data-value="English">English</a></li>
  </ul>
</div> <!-- close button div  -->

</div> <!-- close form div -->




</div> <!-- closing container div  -->