body {
	background-color: whitesmoke;
	font-family: lato, Arial, sans-serif;
}
.capitalize {
	text-transform: capitalize;
}

.headerWrapper {
	padding: 15px 15px 30px 15px;
	background-color: white;
}

.navbar-brand {
	font-size: 40px;
	padding: 15px 40px 20px 20px;
	border-right: 1px solid grey;
}

.navList {
	font-family: lato, Arial, sans-serif;
	font-size: 16px;
	text-transform: uppercase;
}

.glyphicon-apple, .glyphicon-pencil {
	font-size: 20px;
	padding: 0px 5px 0px 5px;
}

.lastNav {
	border-left: 1px solid grey;
}


/*BEGIN MAIN PAGE STYLING*/
.jumbotron h1 {
	/*color:#58709e;*/
	text-align: center;
}

.jumbotron {
	/*background-color: #58709e;*/
	background: url(../img/background1.jpg);
	background-size: 1000px 500px;
}

.getStartBtn {
	background-color: #58709e;
}


.panel-default > .panel-heading {
  background-color: #a2ca8c;
}

/*END MAIN PAGE STYLE*/


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: white;
}



/*ADMIN HTML FORMATTING*/
.addTutor {
	float:right;
}
/*END ADMIN FORMATTING*/

.searchResults {
	margin-top: 10px;
	/*height: 300px;*/
	/*border-color: black;
	border-width: 5px;
	border-style: solid;*/
	padding-right: 0px;
	padding-left: 0px;
}

.tutorThumbnailContainer {
	padding: 0px;
}

.tutorThumbnail {
	border-radius: 0;
	margin-bottom: 0px;
	padding: 0px;
}

.tutorName {
	position: absolute;
    top: 25px;
    height: 35px;
    width: 35%;
    font-size: 2.1em;
    color: #333;
    letter-spacing: -0.5px;
    font-family: "HelveticaNeueHeavy","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.modalImg {
	height: 160px;
}

/*agenda*/
.agenda { 
	padding-top:60px;
 }

/* Dates */
.agenda .agenda-date { width: 170px; }
.agenda .agenda-date .dayofmonth {
  width: 40px;
  font-size: 36px;
  line-height: 36px;
  float: left;
  text-align: right;
  margin-right: 10px; 
}
.agenda .agenda-date .shortdate {
  font-size: 0.75em; 
}


/* Times */
.agenda .agenda-time { width: 140px; } 


/* Events */
.agenda .agenda-events {  } 
.agenda .agenda-events .agenda-event {  } 


/*.favoriteTutor {
	border:none;
	font-size: 20px;
}

.favoriteTutor:hover {
	background-color: white;
}

.glyphicon-heart {
	padding-left: 54px;
	color:tomato;
	transition: all .2s ease-in-out;

}

.glyphicon-heart:hover { 
	transform: scale(1.1); 
}*/

.upcomingSession {
	margin-top: 10px;
	height: 300px;
	border-color: black;
	border-width: 5px;
	border-style: solid;
}

.footer {
	display: none;
}

/*STUDENT HTML FORMATTING*/
.tutorRow {
	margin-right: 0px;
	margin-left:0px;
}
/*END STUDENT FORMATTING*/

/*TUTOR HTML FORMATTING*/
/*END TUTOR FORMATTING*/

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }