body {
	background-color: whitesmoke;
	font-family: lato, Arial, sans-serif;
}
.capitalize {
	text-transform: capitalize;
}

.headerWrapper {
	padding: 15px 15px 30px 15px;
	background-color: white;
}

.navbar-brand {
	font-size: 40px;
	padding: 15px 40px 20px 20px;
	border-right: 1px solid grey;
}

.dropdown-toggle {
	font-family: lato, Arial, sans-serif;
	font-size: 16px;
	text-transform: uppercase;
}

.glyphicon-apple, .glyphicon-pencil {
	font-size: 20px;
	padding: 0px 5px 0px 5px;
}
.lastDropdown {
	border-left: 1px solid grey;
}

.jumbotron h1 {
	color:#777777;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: white;
}



/*ADMIN HTML FORMATTING*/
.addTutor {
	float:right;
}
/*END ADMIN FORMATTING*/

.searchResults {
	margin-top: 10px;
	/*height: 300px;*/
	border-color: black;
	border-width: 5px;
	border-style: solid;
	padding-right: 0px;
	padding-left: 0px;
}

.favoriteTutor {
	border:none;
	font-size: 20px;
}

.glyphicon-heart {
	padding-left: 54px;
	color:tomato;
}

.upcomingSession {
	margin-top: 10px;
	height: 300px;
	border-color: black;
	border-width: 5px;
	border-style: solid;
}

.footer {
	display: none;
}

/*STUDENT HTML FORMATTING*/
/*END STUDENT FORMATTING*/

/*TUTOR HTML FORMATTING*/
/*END TUTOR FORMATTING*/

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }