body {
	background-color: whitesmoke;
	font-family: lato, Arial, sans-serif;
}
.capitalize {
	text-transform: capitalize;
}

.headerWrapper {
	padding: 15px 15px 30px 15px;
	background-color: white;
}

.navbar-brand {
	font-size: 40px;
	padding: 15px 40px 20px 20px;
	border-right: 1px solid grey;
}

.navList {
	font-family: lato, Arial, sans-serif;
	font-size: 16px;
	text-transform: uppercase;
}

.glyphicon-apple, .glyphicon-calendar, .glyphicon-pencil {
	font-size: 20px;
	padding: 0px 5px 0px 5px;
}

.lastNav {
	border-left: 1px solid grey;
}


/*BEGIN MAIN PAGE STYLING*/
.jumbotron h1 {
	/*color:#58709e;*/
	text-align: center;
	font-weight:800;
}

.jumbotron {
	/*background-color: #58709e;*/
	background: url(../img/background1.jpg);
	background-size: 1000px 500px;
}

.getStartBtn {
	background-color: #58709e;
}


.panel-default > .panel-heading {
  background-color: #a2ca8c;
}

/*END MAIN PAGE STYLE*/


.modal-content > .modal-header{
	background-color: #a2ca8c;
}


.bookTutorBtn {
	background-color: #58709e;
}
.bookTutorBtn:hover {
	background-color: #a2ca8c;
	border-style: none;
}

.submittutor {
	background-color: #58709e;
	width:100%;
}
.submittutor:hover {
	background-color: #a2ca8c;
	border-style: none;

}

.btn {
	border-style: none;
}



.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: white;
}



/*ADMIN HTML FORMATTING*/
.addTutor {
	float:right;
}

.deleteJumbotron {
	background-color: white;
	background-image: none;
}


.glyphicon-certificate{
	font-size:70px;
	color:tomato;
    position: absolute;
    top: 232px;

    left:326px;
  /*  right: 5%;*/
    /*width: 200px;
    height: 200px;*/
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 30s linear infinite;
    -moz-animation:spin 30s linear infinite;
    animation:spin 30s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

    
/*END ADMIN FORMATTING*/

.searchResults {
	margin-top: 10px;
	padding-right: 0px;
	padding-left: 0px;
}

.tutorThumbnailContainer {
	padding: 0px;
}

.tutorThumbnail {
	border-radius: 0;
	margin-bottom: 0px;
	padding: 0px;
}

.tutorName {
	position: absolute;
    top: 6px;
    left:12px;
    height: 35px;
    width: 35%;
    font-size: 2.1em;
    color: #333;
    letter-spacing: -0.5px;
    font-family: "HelveticaNeueHeavy","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.modal-photo img {
	height: 160px;
	
}

.modal-photo {
	position:relative;
	float:left;
	/*padding: 5px 0px 0px 0px;*/
}
.modal-body {
	padding: 5px 0px 0px 0px;
}

.tutorModal {
	position:relative;
	float:left;
	padding: 5px 0px 0px 0px;
	width:68%;

}

.tutorModal h4 {
	line-height:26px;
}

.upcomingSession {
	margin-top: 10px;
	height: 300px;
	border-color: black;
	border-width: 5px;
	border-style: solid;
}

.footer {
	display: none;
}

/*STUDENT HTML FORMATTING*/
.tutorRow {
	margin-right: 0px;
	margin-left:0px;
}

.tutorCaption{
	min-height: 122px;
	padding:6px;
}

.tutorThumbnailContainer{
	padding:2px;
}

.bookTutorBtn {
	position:absolute;
	bottom: 10px;
	width:92%;
	background-color: #f8f085;
	color: black;
	border-style: none;
}
/*END STUDENT FORMATTING*/

/*TUTOR HTML FORMATTING*/

/*END TUTOR FORMATTING*/

.CRUDCaption {
	padding:10px;
}
.CRUDButtons{
	padding-bottom:10px;
}

label.CRUDCheck {
	padding-left: 40px;
}
.CRUDSubmit , .CRUDUpdate{
	width:100%;
	background-color: #f8f085;
	color: black;
	border-style: none;
}
.CRUDSubmit {
	background-color:#f8f085;
}
.CRUDUpdate {
	background-color: #a2ca8c;
	margin-top:10px;
}
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }